.title{
  font-family: 'Roboto', sans-serif;
}
body{
  border: dashed 1px red;
  margin: 0;
}

/*.header {
  border: dashed 1px red;
  width: 80%;
  margin: auto;
}

.main-section{
  margin: auto;
  border: dashed 1px green;
  width: 80%;
}*/

.wrapper{
  margin: auto;
  width: 80%;
  border: dashed 1px blue;
}

.logo, .menu{
  display: inline-block;
  //border: dashed 1px red;
}

.logo {
    position: relative;
    padding: 40px 0;
    font: bold 24px/31px pt_serif, arial, helvetica, sans-serif;
    padding-left: 44px;
    top: 50%;
    //left: 50px;
    //font-family: pt_serif, arial, helvetica, sans-serif;
  //font-weight: bold;
  //font-size: 24px;
  //line-height: 31px;

}

.logo__circle{
  width: 28px;
  height: 28px;
  border: dashed 1px red;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  opacity: .7;

}

.logo__circle_color_dark-blue {
 background: #0056EC;
 border-radius: 50%;
}

.logo__circle_color_blue {
 left: 8px;
 top: 56%;
 background: #C8DBFB;
 border-radius: 50%;
}

.header{
  display: flex;
  justify-content: space-between;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item{
  position: relative;
  margin-right: 26px;
  font: bold 18px/21px pt_serif, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
  //border: dashed 1px red;
  //padding: 0 13px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item:hover{
  opacity: .5;
  color: #09c;
}

.menu__item_active::after{
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #09c;
}
